#info-container {
  position: absolute;
  background-color: white;
  bottom: 0;
  height: 7rem;
  width: 100%;
  z-index: 200;
}

.info-content {
  max-width: 960px;
  padding: 0.3rem 1rem;
  margin: auto;
}

#scene .info-content {
  display: none;
}